body, html {
	background-color:#444;
	height:100%;
}

textarea {
	height:30%;
	font-family: monospace;
}

div.main-content {
	height:100%;
	margin:1em;
}

div.event-div {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1em;
    overflow: hidden;
}

div.event-div p.event-name {
    border-bottom: 3px solid black;
    padding: 2px 0px 2px 0px;
    margin: 0;
    text-align: center;
    /*background-color: #DDF;*/
}

div.event-div p.event-code {
    font-family: monospace;
    margin: 0;
    padding: 1em;
    max-height: 500px;
    overflow-y: scroll;
    background-color: #EEE;
}

span.comment {
	color: #080;
}

span.constant {
	color: #22C;
}

span.function {
	color: #800;
}

span.keyword {
	color: #800;
}