body, html {
	background-color:#444;
	height:100%;
	margin:0;
}

textarea {
	height:30%;
	font-family: monospace;
}

div.wrapper {
	height:100%;
	padding:1em;
}

div.main-content {
	margin:0 auto;
    height:100%;
}

#header { 
    height: 5em; 
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    
	color: white;
	text-align: center;
	padding-top: 1em;
	
	border-bottom: 3px solid black;
}

#header a {
	color:#CCF;
}

#header a:hover {
	color:#DDF;
}

#header a:visited {
	color:#AAF;
}

#footer { 
    height: 50px; 
    position:absolute; 
    left:0; 
    bottom:0; 
    width:100%;
	
	border-top: 3px solid black;
}
  
#content { 
    position: absolute; 
    top: 6.1em; 
    bottom:50px; 
    left:1em;
    right:1em; 
    /*width:100%;*/
    overflow: auto;
}

div.event-div {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1em;
    overflow: hidden;
}

div.event-div p.event-name {
    border-bottom: 3px solid black;
    padding: 2px 0px 2px 0px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    /*background-color: #DDF;*/
}

div.event-div p.event-code {
    font-family: monospace;
    margin: 0;
    padding: 1em;
    max-height: 500px;
    overflow-y: scroll;
    background-color: #EEE;
}

span.comment {
	color: #080;
}

span.constant {
	color: #22C;
}

span.function {
	color: #800;
}

span.keyword {
	color: #800;
}

input[type=submit] {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.5em;
    color: white;
}

h2 {
	font-size: 1.1em;
    color: white;
}

p.event-name img {
	position: relative;
	top: 2px;
}
